/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.logindialog {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cfcfcf;
    padding: 60px 60px 60px 60px;
    background-color: white;
    width: 420px;
    height: 260px;
    margin-left: -moz-calc(50% - 210px);
    margin-left: -webkit-calc(50% - 210px);
    margin-left: calc(50% - 210px);
    top: -moz-calc(50% - 210px);
    top: -webkit-calc(50% - 210px);
    top: calc(50% - 210px);
    position: absolute;
}

html {
    height:100%;
    width: 100%;
}
body {
    height:100%;
    width: 100%;
}

#building {
    width: 40%;
    height: 480px;
    float:left;
}

.addroom {
    float:left;
    width: 26%;
    padding-left: 2%;
    padding-right: 2%;
}

.deleteroom {
    float:left;
    width: 26%;
    padding-left: 2%;
    padding-right: 2%;
}

.addgate {
    width: 54%;
    padding-left: 2%;
    padding-right: 2%;
    float:left;
}

.roomButton {

}

.roomButton:not(:first-child) {
    margin-top: 20px;
}

#room {
    width: 40%;
    float:left;
    margin: 40px 20px 40px 20px;
    padding: 20px 20px 40px 20px;
    border: 1px solid #dfdfdf;
    text-align: center;
    vertical-align: middle;
    max-height: 640px;
}

.successful {
    color: green;
}

.error {
    color: red;
}

.userhistory {
    float:left;
    width: 50%;
    margin-top: 30px;
    max-height: 540px;
    overflow-y: auto;
}

.authenticateuser {
    width: 54%;
    padding-left: 2%;
    padding-right: 2%;
    float:left;
}

.authorizations {
    width: 54%;
    padding-left: 2%;
    padding-right: 2%;
    float:left;
    height: 120px;
    overflow-y: auto;
}

.rightfloat {
    float: right;
}

.rightfloat:not(:first-child) {
    margin-right: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}